/.pytest_cache/

src/alg/__pycache__/Utils.cpython-38.pyc

src/classes/__pycache__/Graph.cpython-38.pyc

src/alg/__pycache__/algorithms.cpython-38.pyc

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/spbu-gdb2020.iml

.idea/vcs.xml
